.category-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1.6rem;
	padding: 1rem;
	margin: 1rem;
	align-items: center;
	transition: all 0.2s ease-in-out;
}
.category-item:hover {
	cursor: pointer;
	box-shadow: 0 0 5px var(--box-shadow);
	background-color: var(--hover-color);
	transform: scale(1.1);
}
.category-item img {
	width: 12rem;
	height: 12rem;
}
