.address-list-modal{
      /* display: block;       */
      /* background-color: aliceblue;   */
      position: fixed;
      top: 10rem;
      box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
      background-color: aliceblue;
      min-width: 30rem;
      padding: 1rem;
      z-index: 100;
}
.address-card{
      cursor: pointer;
}